<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="General">
   <setting id="auto-view" type="bool" label="[B]Auto View[/B]" default="true"/>
		<setting id="home-view"	type="enum" label="  Main Menu View" values="List|Thumbnail" default="1" enable="!eq(-1,false)"/>

      	<setting id="device-type"	type="enum" label="[B]Device[/B]" values="PC & Mac|ATV2 & ATV3|Tablet & ATV|Phone|Android box" default="0"/>
		<setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
		<setting id="ga_visitor" type="text" label="GA visitor" default="" visible="false"/>
   </category>
</settings>