<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30100">
		<setting label="30101" type="lsep"/>
		<setting id="news" type="bool" label="30102" default="false" />
		<setting id="music" type="bool" label="30103" default="false" />
		<setting id="radio" type="bool" label="30104" default="true" />
		<setting id="localRadio" type="bool" label="30105" default="false" />
		<setting id="france" type="bool" label="30106" default="false" />
		<setting id="russia" type="bool" label="30107" default="false" />
		<setting id="others" type="bool" label="30108" default="false" />
		<setting type="sep"/>
		<setting label="30201" type="lsep"/>
		<setting id="useLiveTV" type="bool" label="30202" default="true" />
	</category>
</settings>
