<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category>
<setting id="domain" type="text" label="10001" default="http://gozlan.eu" />
<setting id="useProxy" label="10002" type="bool" default="true"/>
</category>
<category label="youtube">
<setting id="YoutubeResolver_priority" type="number" label="Priority" default="100"/>
<setting label="This plugin calls the youtube addon - change settings there." type="lsep" />
</category>
<category label="xvidstage">
<setting id="XvidstageResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="vimeo">
<setting id="VimeoResolver_priority" type="number" label="Priority" default="100"/>
<setting label="This plugin calls the vimeo addon - change settings there." type="lsep" />
</category>
<category label="vidxden">
<setting id="VidxdenResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="vidstream">
<setting id="VidstreamResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="videozer">
<setting id="VideozerResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="videoweed.es">
<setting id="VideoweedResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="videobb">
<setting id="VideobbResolver_priority" type="number" label="Priority" default="100"/>
<setting label="Highest Quality" id="VideobbResolver_q" type="enum" values="240p|480p|Maximum" default="2" />
</category>
<category label="uploadc">
<setting id="UploadcResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="ufliq">
<setting id="UfliqResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="stream2k">
<setting id="Stream2kResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="skyload">
<setting id="SkyloadResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="sharefiles">
<setting id="SharefilesResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="seeon.tv">
<setting id="SeeonResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="rapidvideo">
<setting id="RapidvideoResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="putlocker/sockshare/videoslasher">
<setting id="PutlockerResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="novamov">
<setting id="NovamovResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="nolimitvideo">
<setting id="nolimitvideoResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="movshare">
<setting id="MovshareResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="megavideo">
<setting id="MegavideoResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="megaupload">
<setting id="MegaUploadResolver_priority" type="number" label="Priority" default="100"/>
<setting id="MegaUploadResolver_login" type="bool" label="login" default="false"/>
<setting id="MegaUploadResolver_username" enable="eq(-1,true)" type="text" label="username" default=""/>
<setting id="MegaUploadResolver_password" enable="eq(-2,true)" type="text" label="password" option="hidden" default=""/>
</category>
<category label="flashx">
<setting id="FlashxResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="ecostream">
<setting id="EcostreamResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="divxstage">
<setting id="DivxstageResolver_priority" type="number" label="Priority" default="100"/>
</category>
<category label="2gbhosting">
<setting id="TwogbhostingResolver_priority" type="number" label="Priority" default="100"/>
</category>
</settings>