<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting label="20000" type="labelenum" values="0|3|9|12|24" id="cache" default="24"/>
    <setting label="20001" type="bool" id="DEBUG" default="false"/>
    <setting id="username" type="text" label="20002" default="" />
    <setting id="user_password" type="text" option="hidden" label="20003" enable="!eq(-1,)" default="" />
	<setting id="domain" type="text" label="20004" default="http://www.sdarot.pm" />
</settings>
